PORT=3000
AUTH_USER=admin
AUTH_PASS=yourpassword
SUPABASE_URL=https://sb.gcprints.uk/
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJyb2xlIjoic2VydmljZV9yb2xlIiwiaXNzIjoic3VwYWJhc2UiLCJpYXQiOjE3NjIyMTQ0MDAsImV4cCI6MTkxOTk4MDgwMH0.Udc676ZqyPIS8pcJMhIKgPG8xyzwreg-jOE22fqelEc